.idea
_build/
_bin/
build/
.vscode/
*.swp
*.swo
.DS_Store
_repos/
_rsts/
rsts_tmp/
.doctrees/
!nebulaidl/protos/docs
release/
__pycache__/
/charts/nebula/charts
/charts/nebula-deps/charts
/charts/nebula/Chart.lock
/charts/nebula-binary/Chart.lock
/charts/nebulaagent/Chart.lock
/charts/nebula-deps/Chart.lock
/charts/nebula-core/Chart.lock
/docker/sandbox-lite/storage/charts
/docker/sandbox-lite/storage/Chart.lock
**/*.bak-
.python-version
dist/
dist
*.db
vendor/
/docker/sandbox-bundled/images/tar
**/bin/
docs/_tags/
docs/nebulactl
docs/protos
docs/nebulakit
docs/nebulasnacks
docs/examples
docs/_src
docs/_projects
docs/api
docs/tests
archive/